<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <!--Server for reads-->
        <server>
            <id>artifactory</id>
            <username>${CANAVERAL_ARTIFACTORY_USERNAME}</username>
            <password>${CANAVERAL_ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>${NEXUS_ID}</id>
            <username>${NEXUS_USER}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <!-- Temporarily allow direct Maven Central access for standard artifacts -->
        <mirror>
            <id>artifactory</id>
            <mirrorOf>nutanix-*</mirrorOf>
            <url>https://artifactory.dyn.nutanix.com/artifactory/canaveral-legacy-maven-public</url>
        </mirror>
    </mirrors>
    <profiles>
        <!--Default Profile that will activate Artifactory Reads-->
        <profile>
            <id>artifactory-profile</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                <id>canaveral-public</id>
                    <url>
                        https://ui.maven-canaveral-artifact-storage.canaveral-corp.us-west-2.aws/repository/canaveral-maven-public
                    </url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>canaveral-public</id>
                    <url>
                        https://ui.maven-canaveral-artifact-storage.canaveral-corp.us-west-2.aws/repository/canaveral-maven-public
                    </url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
